<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>326197402694-i8cqo0onouo91uq1rjegdb2id2s929po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326197402694-i8cqo0onouo91uq1rjegdb2id2s929po</string>
	<key>API_KEY</key>
	<string>AIzaSyBBngq68OZHpd1ZoUSy6Emkl-SaIIi_xm8</string>
	<key>GCM_SENDER_ID</key>
	<string>326197402694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woodystudio.remember</string>
	<key>PROJECT_ID</key>
	<string>remember-ba84a</string>
	<key>STORAGE_BUCKET</key>
	<string>remember-ba84a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:326197402694:ios:ad4aed2d11ee04c8</string>
	<key>DATABASE_URL</key>
	<string>https://remember-ba84a.firebaseio.com</string>
</dict>
</plist>
